@page "/"
@using MOEX.Services
@inject MoexService moexService
@using MOEX.Portfolio
@using MatBlazor
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h1>Stock Price Getter!</h1>
<h2>Period</h2>
<p><MatDatePicker @bind-Value="@startDate" Label="Start Date" Format="MMMM dd, yyyy"></MatDatePicker> <MatDatePicker @bind-Value="@endDate" Label="End Date" Format="MMMM dd, yyyy"></MatDatePicker></p>

<h2>Stocks</h2>
<p>
    <MatTextField @bind-Value="@stockName" Label="Stock"></MatTextField>
    <MatTextField @bind-Value="@stockValue" Label="Value"></MatTextField>
</p>
<p>
    <MatButton Raised="true" OnClick="@AddDataClick">Add Stock to Portfolio</MatButton>
    <MatButton Raised="true" OnClick="@LoadPortfolioClick">Load Saved Portfolio</MatButton>
</p>

<p>Double click to delete stock</p>
<p>
    <MatTable Items="@wallet.Stocks" class="mat-elevation-z5" ShowPaging="false" Striped="true" AllowSelection="true" OnRowDbClick="@DeleteStock">
        <MatTableHeader>
            <th>Name</th>
            <th>Value</th>
            <th width="400px">Price at Start</th>
            <th>Price at End</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Name</td>
            <td>@String.Format($"{@context.Value:N1}")</td>
            <td>@context.StartPrice</td>
            <td>@context.EndPrice</td>
        </MatTableRow>
    </MatTable>
    <MatButton Raised="true" OnClick="@SavePortfolioClick">Save Portfolio</MatButton>
</p>
<p>
    <MatNumericUpDownField Label="Choose interval between balancing, months"
                           @bind-Value=@balancingInterval
                           DecimalPlaces=0
                           Minimum=0 Maximum=18>
    </MatNumericUpDownField>
</p>
<p>
    <MatButton Raised="true" OnClick="@GetDataAsync" Disabled="@NoStockAdded">Get Data</MatButton>
</p>

<h2>Portfolio Results</h2>
<table>
    <tr><td width="220px"><h3>Value at Start</h3></td><td><h3>@String.Format($"{wallet.StartValue:N1}")</h3></td></tr>
    <tr><td><h3>Value at End</h3></td><td><h3>@String.Format($"{wallet.EndValue:N1}")</h3></td></tr>
    <tr><td><h3>Change</h3></td><td><h3>@String.Format($"{wallet.EndValue / wallet.StartValue:P1}")</h3></td></tr>
</table>

<p></p>
<p><MatButton Raised="true" OnClick="@ShowChart" Disabled="@NoStockAdded">@ShowChartButtonText</MatButton></p>
@if (showChartToggle == true)
{
    <LineChart wallet=@wallet />
}


@code
{

    public string stockName = "FXUS";
    public double stockValue = 100;
    public DateTime startDate;
    public DateTime endDate;
    private string PortfolioKey = @"portfolio-1";
    public Wallet wallet = new Wallet();
    public int balancingInterval = 0;
    public bool NoStockAdded = true;
    public bool showChartToggle = false;
    public string ShowChartButtonText = "Show Chart";

    void AddDataClick(MouseEventArgs e) => AddData(stockName, stockValue);
    public void AddData(string stockName, double stockValue)
    {
        wallet.AddStock(new Stock(stockName, stockValue));
        CheckStocksCount();
    }

    public async Task GetDataAsync()
    {
        wallet.SetDates(startDate, endDate);
        if (balancingInterval > 0) wallet.AddDatesForBalancing(balancingInterval);
        await moexService.GetPricesAsync(wallet);
        wallet.CalcStartValue();
        wallet.CalcEndValue();
        this.StateHasChanged();
    }

    public void DeleteStock(object item)
    {
        wallet.Stocks.Remove(item as StockWithHistory);
        CheckStocksCount();
    }

    public async Task SavePortfolioClick(MouseEventArgs e)
    {
        await localStore.SetItemAsync(PortfolioKey, SavingData.GetJsonString(wallet.Stocks)).ConfigureAwait(false);
    }

    public async Task LoadPortfolioClick(MouseEventArgs e)
    {
        try
        {
            wallet = new Wallet(SavingData.GetStockFromJsonString(await localStore.GetItemAsync<string>(PortfolioKey).ConfigureAwait(false)));
            CheckStocksCount();
        }
        catch (Exception)
        {
            /* TODO: need to design  proper 'no local storage yet' exception*/
        }
    }

    protected override Task OnInitializedAsync()
    {
        endDate = DateTime.Today.AddDays(-2).SetToWorkDay();
        startDate = endDate.AddDays(-365).SetToWorkDay();

        return Task.CompletedTask;
    }

    public void ShowChart()
    {
        showChartToggle = !showChartToggle;
        ShowChartButtonText = showChartToggle ? "Hide Chart" : "Show Chart";
    }

    public void CheckStocksCount()
    {
        if (wallet.Stocks.Count > 0)
        {
            NoStockAdded = false;
        }
        else
        {
            NoStockAdded = true;
            showChartToggle = false;
            ShowChartButtonText = "Show Chart";
        }
    }
}
