@page "/"
@using MOEX_web.Portfolio

<h1>Stock Price Getter!</h1>
<h2>Period</h2>
<p><MatDatePicker @bind-Value="@startDate" Label="Start Date" Format="MMMM dd, yyyy"></MatDatePicker> <MatDatePicker @bind-Value="@endDate" Label="End Date" Format="MMMM dd, yyyy"></MatDatePicker></p>

<h2>Stocks</h2>
<p>
    <MatTextField @bind-Value="@stockName" Label="Stock"></MatTextField>
    <MatTextField @bind-Value="@stockValue" Label="Value"></MatTextField>
</p>
<p>
    <MatButton Raised="true" OnClick="@AddDataClick">Add Stock to Portfolio</MatButton>
    <MatButton Raised="true" OnClick="@LoadPortfolioClick">Load Saved Portfolio</MatButton>
</p>

<p>Double click to delete stock</p>
<p>
    <MatTable Items="@stocks" class="mat-elevation-z5" ShowPaging="false" Striped="true" AllowSelection="true" OnRowDbClick="@DeleteStock">
        <MatTableHeader>
            <th>Name</th>
            <th>Value</th>
            <th width="400px">Price at Start</th>
            <th>Price at End</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Name</td>
            <td>@String.Format($"{@context.Value:N1}")</td>
            <td>@context.StartPrice</td>
            <td>@context.EndPrice</td>
        </MatTableRow>
    </MatTable>
</p> 
<p>
    <MatButton Raised="true" OnClick="@GetDataAsync">Get Data</MatButton>
    <MatButton Raised="true" OnClick="@SavePortfolioClick">Save Portfolio</MatButton>
</p>

<h2>Portfolio Results</h2>
<table>
    <tr><td width="220px"><h3>Value at Start</h3></td><td><h3>@String.Format($"{portfolioStartValue:N1}")</h3></td></tr>
    <tr><td><h3>Value at End</h3></td><td><h3>@String.Format($"{portfolioEndValue:N1}")</h3></td></tr>
    <tr><td><h3>Change</h3></td><td><h3>@String.Format($"{portfolioEndValue / portfolioStartValue:P1}")</h3></td></tr>
</table>

@code
{

    public string stockName = "FXUS";
    public double stockValue = 1;
    public DateTime startDate;
    public DateTime endDate;
    public double price;
    public List<Stock> stocks = new List<Stock>();
    public double portfolioStartValue;
    public double portfolioEndValue;
    private string PortfolioFile = @"Data\portfolio.json";

    void AddDataClick(MouseEventArgs e) => AddData(stockName, stockValue);
    public void AddData(string stockName, double stockValue) => stocks.Add(new Stock(stockName, stockValue));

    public async Task GetDataAsync()
    {
        var runningRequests = new List<Task>();
        foreach (var stock in stocks)
        {
            runningRequests.Add(GettingData.GetStockStartPriceAsync(stock, startDate));
            runningRequests.Add(GettingData.GetStockEndPriceAsync(stock, endDate));
        }
        await Task.WhenAll(runningRequests.ToArray());
        CalcResults();
    }

    public void CalcResults()
    {
        portfolioStartValue = stocks.Sum(item => item.Value);
        portfolioEndValue = stocks.Sum(item => (item.Value * item.EndPrice / item.StartPrice));
    }

    public void DeleteStock(object item) => stocks.Remove(item as Stock);

    public void SavePortfolioClick(MouseEventArgs e) => SavePortfolio(stocks);
    public async Task SavePortfolio(List<Stock> stocks) => await SavingData.PushDataToFileAsync(stocks, PortfolioFile);

    public async Task LoadPortfolioClick(MouseEventArgs e) => stocks = await SavingData.LoadDataFromFileAsync(PortfolioFile);

    protected override Task OnInitializedAsync()
    {
        endDate = DateTime.Today.AddDays(-2).SetToWorkDay();
        startDate = endDate.AddDays(-365).SetToWorkDay();
        
        return Task.CompletedTask;
    }
}
